In [1]:
import pandas as pd
import datetime
import numpy as np
import os.path
import wget
from zipfile import ZipFile
import shutil
import re

In [2]:
#URL's onde estão os arquivos dfp e itr na CVM
url_base = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/'
url_quantidade = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/FRE/DADOS/'
url_ticker = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/FCA/DADOS/'
url_base_tri = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/'

In [3]:
#pega o caminho do diretorio atual
diretorio = os.getcwd()
diretorio

'D:\\Extrai-dados-CVM'

In [ ]:
#busca = input("Entre com o nome da empresa: ")
busca = "sinqia" # nome da empresa a ser buscada

In [4]:
tipo = "con" #qual base de dados quero usar, "con" para consolidado e "ind" para individual

In [5]:
#Pega data corrente e ano corrente
date = datetime.date.today()
year = date.year
year_0 = 2010 # ano inicial dos dados
year_0_tri = year-2 # ano inicial pros dados trimestrais

In [6]:
#Cria uma lista com os nomes dos arquivos da CVM
arquivos_zip = []
for ano in range(year_0,year+1):
    arquivos_zip.append(f'dfp_cia_aberta_{ano}.zip')
arquivos_zip

['dfp_cia_aberta_2010.zip',
 'dfp_cia_aberta_2011.zip',
 'dfp_cia_aberta_2012.zip',
 'dfp_cia_aberta_2013.zip',
 'dfp_cia_aberta_2014.zip',
 'dfp_cia_aberta_2015.zip',
 'dfp_cia_aberta_2016.zip',
 'dfp_cia_aberta_2017.zip',
 'dfp_cia_aberta_2018.zip',
 'dfp_cia_aberta_2019.zip',
 'dfp_cia_aberta_2020.zip',
 'dfp_cia_aberta_2021.zip',
 'dfp_cia_aberta_2022.zip']

In [7]:
#baixa o arquivos se não estiver presente
for arq in arquivos_zip:
    if (os.path.isfile(f'{diretorio}/Data/{arq}')):
        print('%s esta aqui' % arq)
    else:
        try:
            wget.download(url_base+arq, out=f"./Data/{arq}")
        except:
            print(f"falha ao baixar {arq}")
            pass

dfp_cia_aberta_2010.zip esta aqui
dfp_cia_aberta_2011.zip esta aqui
dfp_cia_aberta_2012.zip esta aqui
dfp_cia_aberta_2013.zip esta aqui
dfp_cia_aberta_2014.zip esta aqui
dfp_cia_aberta_2015.zip esta aqui
dfp_cia_aberta_2016.zip esta aqui
dfp_cia_aberta_2017.zip esta aqui
dfp_cia_aberta_2018.zip esta aqui
dfp_cia_aberta_2019.zip esta aqui
dfp_cia_aberta_2020.zip esta aqui
dfp_cia_aberta_2021.zip esta aqui
dfp_cia_aberta_2022.zip esta aqui

In [8]:
#extrai tudo
for arq in arquivos_zip:
    try:
        ZipFile(f"./Data/{arq}", 'r').extractall('./Data/temp')
        print(f"{arq} extraido")
    except:
        pass

dfp_cia_aberta_2010.zip extraido
dfp_cia_aberta_2011.zip extraido
dfp_cia_aberta_2012.zip extraido
dfp_cia_aberta_2013.zip extraido
dfp_cia_aberta_2014.zip extraido
dfp_cia_aberta_2015.zip extraido
dfp_cia_aberta_2016.zip extraido
dfp_cia_aberta_2017.zip extraido
dfp_cia_aberta_2018.zip extraido
dfp_cia_aberta_2019.zip extraido
dfp_cia_aberta_2020.zip extraido
dfp_cia_aberta_2021.zip extraido
dfp_cia_aberta_2022.zip extraido

In [9]:
# junta todos os anos de dados anuais em um arquivo só de cada tipo
nomes = ['BPA_con', 'BPA_ind', 'BPP_con', 'BPP_ind', 'DRE_con', 'DRE_ind', 
         'DFC_MD_con', 'DFC_MI_con', 'DFC_MD_ind', 'DFC_MI_ind']
for nome in nomes:
    arquivo_bp = pd.DataFrame()
    for ano in range(year_0,year):
        try:
            arquivo_bp = pd.concat([arquivo_bp, pd.read_csv(f'{diretorio}/Data/temp/dfp_cia_aberta_{nome}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
        except:
            print(f"falha em {nome}")
            pass
    arquivo_bp.to_csv(f'{diretorio}/Data/processados/dfp_cia_aberta_{nome}_{year_0}-{year}.csv', index=False)
    print(f'DFP {nome} processado')

DFP BPA_con processado
DFP BPA_ind processado
DFP BPP_con processado
DFP BPP_ind processado
DFP DRE_con processado
DFP DRE_ind processado
DFP DFC_MD_con processado
DFP DFC_MI_con processado
DFP DFC_MD_ind processado
DFP DFC_MI_ind processado

In [10]:
#Cria lista de arquivos ITR (trimestrais) pra baixar
arquivos_zip = []
for ano in range(year_0_tri, year+1):
    arquivos_zip.append(f'itr_cia_aberta_{ano}.zip')
arquivos_zip

['itr_cia_aberta_2020.zip',
 'itr_cia_aberta_2021.zip',
 'itr_cia_aberta_2022.zip']

In [11]:
#baixa os arquivos ITR (dados trimestrais)
for arq in arquivos_zip:
    if (os.path.isfile(f'{diretorio}/Data/{arq}')):
        print('%s esta aqui' % arq)
    else:
        try:
            wget.download(url_base_tri+arq, out=f"./Data/{arq}")
        except:
            print(f"falha ao baixar {arq}")
            pass

itr_cia_aberta_2020.zip esta aqui
itr_cia_aberta_2021.zip esta aqui
itr_cia_aberta_2022.zip esta aqui

In [12]:
#extrai os ITR
for arq in arquivos_zip:
    try:
        ZipFile(f"./Data/{arq}", 'r').extractall('./Data/temp')
        print(f"{arq} extraido")
    except:
        print(f"{arq} não encontrado")
        pass

itr_cia_aberta_2020.zip extraido
itr_cia_aberta_2021.zip extraido
itr_cia_aberta_2022.zip extraido

In [13]:
# junta todos os anos de dados trimestrais em um arquivo só de cada tipo
nomes_tri = ['BPA_con', 'BPA_ind', 'BPP_con', 'BPP_ind','DRE_con', 'DRE_ind', 
             "DFC_MD_con", "DFC_MI_con", "DFC_MD_ind", "DFC_MI_ind"]
for nome in nomes_tri:
    arquivo_bp = pd.DataFrame()
    for ano in range(year_0_tri,year+1):
        try:
            arquivo_bp = pd.concat([arquivo_bp, pd.read_csv(f'{diretorio}/Data/temp/itr_cia_aberta_{nome}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
        except:
            print(f"falha em itr_cia_aberta_{nome}_{ano}")
            pass
    arquivo_bp.to_csv(f'{diretorio}/Data/processados/itr_cia_aberta_{nome}_{year_0_tri}-{year}.csv', index=False)
    print(f'ITR {nome} processado')

ITR BPA_con processado
ITR BPA_ind processado
ITR BPP_con processado
ITR BPP_ind processado
ITR DRE_con processado
ITR DRE_ind processado
ITR DFC_MD_con processado
ITR DFC_MI_con processado
ITR DFC_MD_ind processado
ITR DFC_MI_ind processado

In [14]:
#deleta pasta temporaria
shutil.rmtree(f'{diretorio}/Data/temp')

In [15]:
#cria lista de empresas
lista_empresas = pd.read_csv(f"./Data/processados/dfp_cia_aberta_BPA_{tipo}_2010-2022.csv", header=0, sep=",")[["DENOM_CIA", 'CD_CVM']].drop_duplicates()
lista_empresas.head()

                                DENOM_CIA  CD_CVM
0                         BCO BRASIL S.A.    1023
66               BRB BCO DE BRASILIA S.A.   14206
93   CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437
249            CIA ENERGETICA DE BRASILIA   14451
393                        VBC ENERGIA SA   14540

In [16]:
#busca codigo CVM e denominação da empresa desejada
empresa = lista_empresas[lista_empresas['DENOM_CIA'].str.contains(busca, case=False)]
empresa

          DENOM_CIA  CD_CVM
280038  SINQIA S.A.   22799

In [17]:
cd_cvm = empresa.iloc[0,1]
denom_cia = empresa.iloc[0,0]
denom_cia, cd_cvm

('SINQIA S.A.', 22799)

In [18]:
# junta os dados anuais com trimestrais
dre = pd.concat([pd.read_csv(f'./Data/processados/dfp_cia_aberta_DRE_{tipo}_{year_0}-{year}.csv'),
                 pd.read_csv(f'./Data/processados/itr_cia_aberta_DRE_{tipo}_{year_0_tri}-{year}.csv')],
               ignore_index=True).drop_duplicates()
# filtra só para empresa que eu quero e para "último" para não ter dado duplicado
dre = dre[((dre["DENOM_CIA"]==denom_cia) & (dre["ORDEM_EXERC"]=="ÚLTIMO"))].reset_index(drop=True)
dre

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.01,Receita de Venda de Bens e/ou Serviços,142109.000,S
1,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.02,Custo dos Bens e/ou Serviços Vendidos,-89214.000,S
2,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.03,Resultado Bruto,52895.000,S
3,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.04,Despesas/Receitas Operacionais,-44816.000,S
4,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.04.01,Despesas com Vendas,0.000,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,04.065.791/0001-99,2022-03-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2022-01-01,2022-03-31,3.99,Lucro por Ação - (Reais / Ação),0.000,N
539,04.065.791/0001-99,2022-03-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2022-01-01,2022-03-31,3.99.01,Lucro Básico por Ação,0.000,N
540,04.065.791/0001-99,2022-03-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2022-01-01,2022-03-31,3.99.01.01,ON,0.114,N
541,04.065.791/0001-99,2022-03-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2022-01-01,2022-03-31,3.99.02,Lucro Diluído por Ação,0.000,N
542,04.065.791/0001-99,2022-03-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2022-01-01,2022-03-31,3.99.02.01,ON,0.113,N

In [21]:
# cria um dataframe "esqueleto" pra colocar os resultados. Feito com base no resultado anual do ano anterior
resultado_dre = pd.DataFrame
resultado_dre = dre[(dre.DT_FIM_EXERC == f"{year-1}-12-31") & 
                (dre.DT_INI_EXERC == f"{year-1}-01-01") & 
                (dre.CD_CONTA.str.match(r"^(3.[0-1].)$"))][["CD_CONTA", "DS_CONTA"]].set_index("CD_CONTA")
resultado_dre

                                                   DS_CONTA
CD_CONTA
3.01                 Receita de Venda de Bens e/ou Serviços
3.02                  Custo dos Bens e/ou Serviços Vendidos
3.03                                        Resultado Bruto
3.04                         Despesas/Receitas Operacionais
3.05      Resultado Antes do Resultado Financeiro e dos ...
3.06                                   Resultado Financeiro
3.07             Resultado Antes dos Tributos sobre o Lucro
3.08      Imposto de Renda e Contribuição Social sobre o...
3.09            Resultado Líquido das Operações Continuadas
3.10          Resultado Líquido de Operações Descontinuadas
3.11                  Lucro/Prejuízo Consolidado do Período

In [22]:
# poe os resultados trimestrais
for ano in range(year_0, year+1): # pra todos os anos
    # essas listas são pra ele pegar a data base correta pra cada trimestre. 
    # ex: tri_ini = 04 e tri_fim = 06 resulta em dados do 2T, que sempre começam no mes 4 e acabam no ultimo dia do mês 6
    # como não existe 4T nos dados, mando ele pegar de 01 até 12 no 4o valor das listas, que pega os dados anuais. 
    # Deixo sem nada no 4o valor de nome_tri pra ficar só o ano no nome da coluna
    for tri_ini, tri_fim, nome_tri in zip(["01", "04", "07", "01"], ["03", "06", "09", "12"], ["1T", "2T", "3T", ""]):
        resultado_dre = resultado_dre.join((dre[(dre.DT_FIM_EXERC.str.contains(f"{ano}-{tri_fim}-3")) & 
                                                (dre.DT_INI_EXERC == (f"{ano}-{tri_ini}-01")) & 
                                                (dre.CD_CONTA.str.match(r"^(3...)$"))][["CD_CONTA", "VL_CONTA"]].set_index("CD_CONTA").rename(columns={"VL_CONTA": f"{nome_tri}{ano}"})))
# o for resulta em colunas de NaN pros anos que não tem dados, removo a coluna inteira quando tem um NaN nela. 
# Isso pode dar problema se estiver faltando apenas um dado para algum ano/tri, pois vai remover o ano/tri inteiro. 
# Não sei se ocorre isso na prática, vamos ver.
resultado_dre.dropna(axis=1, inplace=True)
resultado_dre.to_csv(f"./Resultados/{denom_cia}_DRE.csv") # salva em um csv
resultado_dre

,DS_CONTA,2018,2019,1T2020,2T2020,3T2020,2020,1T2021,2T2021,3T2021,2021,1T2022
CD_CONTA,,,,,,,,,,,,
3.01,Receita de Venda de Bens e/ou Serviços,142109.0,175153.0,48622.0,49561.0,52763.0,209993.0,68240.0,87818.0,92055.0,352596.0,138856.0
3.02,Custo dos Bens e/ou Serviços Vendidos,-89214.0,-117288.0,-32862.0,-32800.0,-35310.0,-138430.0,-42990.0,-50286.0,-56865.0,-217831.0,-80632.0
3.03,Resultado Bruto,52895.0,57865.0,15760.0,16761.0,17453.0,71563.0,25250.0,37532.0,35190.0,134765.0,58224.0
3.04,Despesas/Receitas Operacionais,-44816.0,-60122.0,-17047.0,-15040.0,-14887.0,-64607.0,-20590.0,-29451.0,-31536.0,-112443.0,-36205.0
3.05,Resultado Antes do Resultado Financeiro e dos ...,8079.0,-2257.0,-1287.0,1721.0,2566.0,6956.0,4660.0,8081.0,3654.0,22322.0,22019.0
3.06,Resultado Financeiro,-3033.0,-5435.0,933.0,-415.0,-455.0,-156.0,-2333.0,-2943.0,-284.0,2653.0,-5329.0
3.07,Resultado Antes dos Tributos sobre o Lucro,5046.0,-7692.0,-354.0,1306.0,2111.0,6800.0,2327.0,5138.0,3370.0,24975.0,16690.0
3.08,Imposto de Renda e Contribuição Social sobre o...,-2310.0,3131.0,784.0,-745.0,-1228.0,-1844.0,-1548.0,462.0,349.0,-2446.0,-5153.0
3.09,Resultado Líquido das Operações Continuadas,2736.0,-4561.0,430.0,561.0,883.0,4956.0,779.0,5600.0,3719.0,22529.0,11537.0
3.10,Resultado Líquido de Operações Descontinuadas,-10.0,-18.0,13.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,-1872.0
3.11,Lucro/Prejuízo Consolidado do Período,2726.0,-4579.0,443.0,580.0,883.0,4956.0,779.0,5600.0,3719.0,22529.0,9665.0