In [2]:
import pandas as pd
import datetime
import numpy as np
import os.path
import wget
from zipfile import ZipFile
import shutil
import re

In [2]:
#URL's onde estão os arquivos dfp e itr na CVM
url_base = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/'
url_quantidade = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/FRE/DADOS/'
url_ticker = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/FCA/DADOS/'
url_base_tri = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/'

In [3]:
#pega o caminho do diretorio atual
diretorio = os.getcwd()
diretorio

'F:\\Extrai-dados-CVM'

In [4]:
#busca = input("Entre com o nome da empresa: ")
busca = "slc" # nome da empresa a ser buscada

In [4]:
tipo = "con" #qual base de dados quero usar, "con" para consolidado e "ind" para individual

In [7]:
#Pega data corrente e ano corrente
date = datetime.date.today()
year = date.year
year_0 = 2010 # ano inicial dos dados
year_0_tri = year-2 # ano inicial pros dados trimestrais

In [7]:
#Cria uma lista com os nomes dos arquivos da CVM
arquivos_zip = []
for ano in range(year_0,year+1):
    arquivos_zip.append(f'dfp_cia_aberta_{ano}.zip')
arquivos_zip

['dfp_cia_aberta_2010.zip',
 'dfp_cia_aberta_2011.zip',
 'dfp_cia_aberta_2012.zip',
 'dfp_cia_aberta_2013.zip',
 'dfp_cia_aberta_2014.zip',
 'dfp_cia_aberta_2015.zip',
 'dfp_cia_aberta_2016.zip',
 'dfp_cia_aberta_2017.zip',
 'dfp_cia_aberta_2018.zip',
 'dfp_cia_aberta_2019.zip',
 'dfp_cia_aberta_2020.zip',
 'dfp_cia_aberta_2021.zip',
 'dfp_cia_aberta_2022.zip']

In [8]:
#baixa o arquivos se não estiver presente
for arq in arquivos_zip:
    if (os.path.isfile(f'{diretorio}/Data/{arq}')):
        print('%s esta aqui' % arq)
    else:
        try:
            wget.download(url_base+arq, out=f"./Data/{arq}")
        except:
            print(f"falha ao baixar {arq}")
            pass

dfp_cia_aberta_2010.zip esta aqui
dfp_cia_aberta_2011.zip esta aqui
dfp_cia_aberta_2012.zip esta aqui
dfp_cia_aberta_2013.zip esta aqui
dfp_cia_aberta_2014.zip esta aqui
dfp_cia_aberta_2015.zip esta aqui
dfp_cia_aberta_2016.zip esta aqui
dfp_cia_aberta_2017.zip esta aqui
dfp_cia_aberta_2018.zip esta aqui
dfp_cia_aberta_2019.zip esta aqui
dfp_cia_aberta_2020.zip esta aqui
dfp_cia_aberta_2021.zip esta aqui
dfp_cia_aberta_2022.zip esta aqui

In [9]:
#extrai tudo
for arq in arquivos_zip:
    try:
        ZipFile(f"./Data/{arq}", 'r').extractall('./Data/temp')
        print(f"{arq} extraido")
    except:
        pass

dfp_cia_aberta_2010.zip extraido
dfp_cia_aberta_2011.zip extraido
dfp_cia_aberta_2012.zip extraido
dfp_cia_aberta_2013.zip extraido
dfp_cia_aberta_2014.zip extraido
dfp_cia_aberta_2015.zip extraido
dfp_cia_aberta_2016.zip extraido
dfp_cia_aberta_2017.zip extraido
dfp_cia_aberta_2018.zip extraido
dfp_cia_aberta_2019.zip extraido
dfp_cia_aberta_2020.zip extraido
dfp_cia_aberta_2021.zip extraido
dfp_cia_aberta_2022.zip extraido

In [10]:
# junta todos os anos de dados anuais em um arquivo só de cada tipo
nomes = ['BPA_con', 'BPA_ind', 'BPP_con', 'BPP_ind', 'DRE_con', 'DRE_ind', 
         'DFC_MD_con', 'DFC_MI_con', 'DFC_MD_ind', 'DFC_MI_ind']
for nome in nomes:
    arquivo_bp = pd.DataFrame()
    for ano in range(year_0,year):
        try:
            arquivo_bp = pd.concat([arquivo_bp, pd.read_csv(f'{diretorio}/Data/temp/dfp_cia_aberta_{nome}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
        except:
            print(f"falha em {nome}")
            pass
    arquivo_bp.to_csv(f'{diretorio}/Data/processados/dfp_cia_aberta_{nome}_{year_0}-{year}.csv', index=False)
    print(f'DFP {nome} processado')

DFP BPA_con processado
DFP BPA_ind processado
DFP BPP_con processado
DFP BPP_ind processado
DFP DRE_con processado
DFP DRE_ind processado
DFP DFC_MD_con processado
DFP DFC_MI_con processado
DFP DFC_MD_ind processado
DFP DFC_MI_ind processado

In [11]:
#Cria lista de arquivos ITR (trimestrais) pra baixar
arquivos_zip = []
for ano in range(year_0_tri, year+1):
    arquivos_zip.append(f'itr_cia_aberta_{ano}.zip')
arquivos_zip

['itr_cia_aberta_2020.zip',
 'itr_cia_aberta_2021.zip',
 'itr_cia_aberta_2022.zip']

In [12]:
#baixa os arquivos ITR (dados trimestrais)
for arq in arquivos_zip:
    if (os.path.isfile(f'{diretorio}/Data/{arq}')):
        print('%s esta aqui' % arq)
    else:
        try:
            wget.download(url_base_tri+arq, out=f"./Data/{arq}")
        except:
            print(f"falha ao baixar {arq}")
            pass

itr_cia_aberta_2020.zip esta aqui
itr_cia_aberta_2021.zip esta aqui
itr_cia_aberta_2022.zip esta aqui

In [13]:
#extrai os ITR
for arq in arquivos_zip:
    try:
        ZipFile(f"./Data/{arq}", 'r').extractall('./Data/temp')
        print(f"{arq} extraido")
    except:
        print(f"{arq} não encontrado")
        pass

itr_cia_aberta_2020.zip extraido
itr_cia_aberta_2021.zip extraido
itr_cia_aberta_2022.zip extraido

In [14]:
# junta todos os anos de dados trimestrais em um arquivo só de cada tipo
nomes_tri = ['BPA_con', 'BPA_ind', 'BPP_con', 'BPP_ind','DRE_con', 'DRE_ind', 
             "DFC_MD_con", "DFC_MI_con", "DFC_MD_ind", "DFC_MI_ind"]
for nome in nomes_tri:
    arquivo_bp = pd.DataFrame()
    for ano in range(year_0_tri,year+1):
        try:
            arquivo_bp = pd.concat([arquivo_bp, pd.read_csv(f'{diretorio}/Data/temp/itr_cia_aberta_{nome}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
        except:
            print(f"falha em itr_cia_aberta_{nome}_{ano}")
            pass
    arquivo_bp.to_csv(f'{diretorio}/Data/processados/itr_cia_aberta_{nome}_{year_0_tri}-{year}.csv', index=False)
    print(f'ITR {nome} processado')

ITR BPA_con processado
ITR BPA_ind processado
ITR BPP_con processado
ITR BPP_ind processado
ITR DRE_con processado
ITR DRE_ind processado
ITR DFC_MD_con processado
ITR DFC_MI_con processado
ITR DFC_MD_ind processado
ITR DFC_MI_ind processado

In [15]:
#deleta pasta temporaria
shutil.rmtree(f'{diretorio}/Data/temp')

In [10]:
#cria lista de empresas
lista_empresas = pd.read_csv(f"./Data/processados/dfp_cia_aberta_BPA_{tipo}_{year_0}-{year}.csv", header=0, sep=",")[["DENOM_CIA", 'CD_CVM']].drop_duplicates()
lista_empresas.head()
#lista_empresas.to_excel("lista_empresas.xlsx")

                                DENOM_CIA  CD_CVM
0                         BCO BRASIL S.A.    1023
66               BRB BCO DE BRASILIA S.A.   14206
93   CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437
249            CIA ENERGETICA DE BRASILIA   14451
393                        VBC ENERGIA SA   14540

In [17]:
#busca codigo CVM e denominação da empresa desejada
empresa = lista_empresas[lista_empresas['DENOM_CIA'].str.contains(busca, case=False)]
empresa

               DENOM_CIA  CD_CVM
42982  SLC AGRICOLA S.A.   20745

In [18]:
cd_cvm = empresa.iloc[0,1]
denom_cia = empresa.iloc[0,0]
denom_cia, cd_cvm

('SLC AGRICOLA S.A.', 20745)

In [19]:
# junta os dados anuais com trimestrais para pegar o DRE
dre = pd.concat([pd.read_csv(f'./Data/processados/dfp_cia_aberta_DRE_{tipo}_{year_0}-{year}.csv'),
                 pd.read_csv(f'./Data/processados/itr_cia_aberta_DRE_{tipo}_{year_0_tri}-{year}.csv')],
               ignore_index=True).drop_duplicates()
# filtra só para empresa que eu quero e para "último" para não ter dado duplicado
dre = dre[((dre["DENOM_CIA"]==denom_cia) & (dre["ORDEM_EXERC"]=="ÚLTIMO"))].reset_index(drop=True)
dre.head()

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2010-01-01,2010-12-31,3.01,Receita de Venda de Bens e/ou Serviços,888713.0,S
1,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2010-01-01,2010-12-31,3.02,Custo dos Bens e/ou Serviços Vendidos,-669009.0,S
2,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2010-01-01,2010-12-31,3.03,Resultado Bruto,219704.0,S
3,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2010-01-01,2010-12-31,3.04,Despesas/Receitas Operacionais,-93661.0,S
4,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2010-01-01,2010-12-31,3.04.01,Despesas com Vendas,-56644.0,S

In [20]:
# cria um dataframe "esqueleto" pra colocar os resultados do dre. Feito com base no resultado anual do ano anterior
resultado_dre = pd.DataFrame
resultado_dre = dre[(dre.DT_FIM_EXERC == f"{year-1}-12-31") & 
                (dre.DT_INI_EXERC == f"{year-1}-01-01") & 
                (dre.CD_CONTA.str.match(r"^(3.[0-1].)$"))][["CD_CONTA", "DS_CONTA"]].set_index("CD_CONTA")
resultado_dre

                                                   DS_CONTA
CD_CONTA
3.01                 Receita de Venda de Bens e/ou Serviços
3.02                  Custo dos Bens e/ou Serviços Vendidos
3.03                                        Resultado Bruto
3.04                         Despesas/Receitas Operacionais
3.05      Resultado Antes do Resultado Financeiro e dos ...
3.06                                   Resultado Financeiro
3.07             Resultado Antes dos Tributos sobre o Lucro
3.08      Imposto de Renda e Contribuição Social sobre o...
3.09            Resultado Líquido das Operações Continuadas
3.10          Resultado Líquido de Operações Descontinuadas
3.11                  Lucro/Prejuízo Consolidado do Período

In [21]:
# poe os resultados anuais e trimestrais do DRE na planilha resultado_dre
for ano in range(year_0, year+1): # pra todos os anos
    # essas listas no for são pra ele pegar a data base correta pra cada trimestre. 
    # ex: tri_ini = 04 e tri_fim = 06 resulta em dados do 2T, que sempre começam no mes 4 e acabam no ultimo dia do mês 6
    # não existe 4T nos dados e precisa ser calculado. no último valor uso do mês 01 até 12, que pega os dados anuais. 
    # Deixo sem nada no último valor de nome_tri pra ficar só o ano no nome da coluna anual
    for tri_ini, tri_fim, nome_tri in zip(["01", "04", "07", "10", "01"], ["03", "06", "09", "12", "12"], ["1T", "2T", "3T", "4T", ""]):
        resultado_dre = resultado_dre.join((dre[(dre.DT_FIM_EXERC.str.contains(f"{ano}-{tri_fim}-3")) & 
                                                (dre.DT_INI_EXERC == (f"{ano}-{tri_ini}-01")) & 
                                                (dre.CD_CONTA.str.match(r"^(3...)$"))][["CD_CONTA", "VL_CONTA"]].set_index("CD_CONTA").rename(columns={"VL_CONTA": f"{nome_tri}{ano}"})))
    # calcula resultado do 4T
    resultado_dre[f"4T{ano}"] = resultado_dre[f"{ano}"] - resultado_dre[f"3T{ano}"] - resultado_dre[f"2T{ano}"] - resultado_dre[f"1T{ano}"]
# o for resulta em colunas de NaN pros anos que não tem dados, removo a coluna inteira quando tem um NaN nela. 
# Isso pode dar problema se estiver faltando apenas um dado para algum ano/tri, pois vai remover o ano/tri inteiro. 
# Não sei se ocorre isso na prática, vamos ver.
resultado_dre.dropna(axis=1, inplace=True)
resultado_dre.to_csv(f"./Resultados/{denom_cia}_DRE.csv", decimal=",", encoding= "utf_32") # salva em um csv
resultado_dre

,DS_CONTA,2010,2011,2012,2013,2014,2015,2016,2017,2018,...,2T2020,3T2020,4T2020,2020,1T2021,2T2021,3T2021,4T2021,2021,1T2022
CD_CONTA,,,,,,,,,,,,,,,,,,,,,
3.01,Receita de Venda de Bens e/ou Serviços,888713.0,1005640.0,1118743.0,1181520.0,1499175.0,1761581.0,1659649.0,2219901.0,2823468.0,...,983909.0,751267.0,1211099.0,3873081.0,1565380.0,1687896.0,1143493.0,1927600.0,6324369.0,3495805.0
3.02,Custo dos Bens e/ou Serviços Vendidos,-669009.0,-639852.0,-864956.0,-920234.0,-1166090.0,-1328460.0,-1413181.0,-1542605.0,-1977510.0,...,-596454.0,-734459.0,-872611.0,-2802782.0,-868018.0,-895667.0,-934982.0,-1378058.0,-4076725.0,-2017128.0
3.03,Resultado Bruto,219704.0,365788.0,253787.0,261286.0,333085.0,433121.0,246468.0,677296.0,845958.0,...,387455.0,16808.0,338488.0,1070299.0,697362.0,792229.0,208511.0,549542.0,2247644.0,1478677.0
3.04,Despesas/Receitas Operacionais,-93661.0,-108908.0,-108666.0,-110807.0,-142287.0,-147623.0,-136153.0,-83843.0,-188201.0,...,-63408.0,-51797.0,-103353.0,-289369.0,-92125.0,-72338.0,-23131.0,-146683.0,-334277.0,-163075.0
3.05,Resultado Antes do Resultado Financeiro e dos ...,126043.0,256880.0,145121.0,150479.0,190798.0,285498.0,110315.0,593453.0,657757.0,...,324047.0,-34989.0,235135.0,780930.0,605237.0,719891.0,185380.0,402859.0,1913367.0,1315602.0
3.06,Resultado Financeiro,-42151.0,-15701.0,-72590.0,-24895.0,-101726.0,-118844.0,-114476.0,-92463.0,-72676.0,...,-34739.0,-26403.0,-4884.0,-91751.0,-33805.0,-68834.0,-83656.0,-166262.0,-352557.0,-151980.0
3.07,Resultado Antes dos Tributos sobre o Lucro,83892.0,241179.0,72531.0,125584.0,89072.0,166654.0,-4161.0,500990.0,585081.0,...,289308.0,-61392.0,230251.0,689179.0,571432.0,651057.0,101724.0,236597.0,1560810.0,1163622.0
3.08,Imposto de Renda e Contribuição Social sobre o...,-25279.0,-81187.0,-34101.0,-28981.0,-18929.0,-45483.0,19802.0,-131728.0,-178580.0,...,-93218.0,25682.0,-36080.0,-178231.0,-194628.0,-203817.0,12031.0,-43637.0,-430051.0,-366560.0
3.09,Resultado Líquido das Operações Continuadas,58613.0,159992.0,38430.0,96603.0,70143.0,121171.0,15641.0,369262.0,406501.0,...,196090.0,-35710.0,194171.0,510948.0,376804.0,447240.0,113755.0,192960.0,1130759.0,797062.0
3.10,Resultado Líquido de Operações Descontinuadas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.11,Lucro/Prejuízo Consolidado do Período,58613.0,159992.0,38430.0,96603.0,70143.0,121171.0,15641.0,369262.0,406501.0,...,196090.0,-35710.0,194171.0,510948.0,376804.0,447240.0,113755.0,192960.0,1130759.0,797062.0

In [22]:
# junta os dados anuais com trimestrais para pegar o BP
bp_dados = pd.concat([pd.read_csv(f'./Data/processados/dfp_cia_aberta_BPA_{tipo}_{year_0}-{year}.csv'),
                 pd.read_csv(f'./Data/processados/itr_cia_aberta_BPA_{tipo}_{year_0_tri}-{year}.csv'), 
                      pd.read_csv(f'./Data/processados/dfp_cia_aberta_BPP_{tipo}_{year_0}-{year}.csv'),
                 pd.read_csv(f'./Data/processados/itr_cia_aberta_BPP_{tipo}_{year_0_tri}-{year}.csv')],
               ignore_index=True).drop_duplicates()
# filtra só para empresa que eu quero e para "último" para não ter dado duplicado
bp_dados = bp_dados[((bp_dados["DENOM_CIA"]==denom_cia) & (bp_dados["ORDEM_EXERC"]=="ÚLTIMO"))].reset_index(drop=True)
bp_dados

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2010-12-31,1,Ativo Total,3116573.0,S
1,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2010-12-31,1.01,Ativo Circulante,737876.0,S
2,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2010-12-31,1.01.01,Caixa e Equivalentes de Caixa,725.0,S
3,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2010-12-31,1.01.02,Aplicações Financeiras,109494.0,S
4,89.096.457/0001-55,2010-12-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2010-12-31,1.01.02.01,Aplicações Financeiras Avaliadas a Valor Justo,109494.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3467,89.096.457/0001-55,2022-03-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2022-03-31,2.03.05,Lucros/Prejuízos Acumulados,745915.0,S
3468,89.096.457/0001-55,2022-03-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2022-03-31,2.03.06,Ajustes de Avaliação Patrimonial,0.0,S
3469,89.096.457/0001-55,2022-03-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2022-03-31,2.03.07,Ajustes Acumulados de Conversão,0.0,S
3470,89.096.457/0001-55,2022-03-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2022-03-31,2.03.08,Outros Resultados Abrangentes,1208806.0,S
3471,89.096.457/0001-55,2022-03-31,2,SLC AGRICOLA S.A.,20745,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2022-03-31,2.03.09,Participação dos Acionistas Não Controladores,329104.0,S

In [23]:
# cria um dataframe "esqueleto" pra colocar os resultados do BP. Feito com base no resultado anual do ano anterior
# só pega as contas com até 7 dígitos ex: "1.01.01"
resultado_bp = pd.DataFrame
resultado_bp = bp_dados[(bp_dados.DT_FIM_EXERC == f"{year-1}-12-31") & 
                (bp_dados.CD_CONTA.str.match(r"^(.{0,7})$"))][["CD_CONTA", "DS_CONTA"]].set_index("CD_CONTA")
resultado_bp.head()

                               DS_CONTA
CD_CONTA
1                           Ativo Total
1.01                   Ativo Circulante
1.01.01   Caixa e Equivalentes de Caixa
1.01.02          Aplicações Financeiras
1.01.03                Contas a Receber

In [24]:
# poe os resultados anuais e trimestrais do DRE na planilha resultado_dre
for ano in range(year_0, year+1): # pra todos os anos
    # essas listas no for são pra ele pegar a data base correta pra cada trimestre e nomear a coluna conforme o trimestre. 
    # tri_fim = 06 resulta em dados do 2T, que sempre começam no mes 4 e acabam no ultimo dia do mês 6
    # no último valor uso do mês 01 até 12, que pega os dados anuais. 
    # Deixo sem nada no último valor de nome_tri pra ficar só o ano no nome da coluna anual
    for tri_fim, nome_tri in zip(["03", "06", "09", "12"], ["1T", "2T", "3T", ""]):
        resultado_bp = resultado_bp.join((bp_dados[(bp_dados.DT_FIM_EXERC.str.contains(f"{ano}-{tri_fim}-3")) & 
                                                (bp_dados.CD_CONTA.str.match(r"^(.{0,7})$"))][["CD_CONTA", "VL_CONTA"]].set_index("CD_CONTA").rename(columns={"VL_CONTA": f"{nome_tri}{ano}"})))
# o for resulta em colunas de NaN pros anos que não tem dados, removo a coluna inteira quando tem um NaN nela. 
# Isso pode dar problema se estiver faltando apenas um dado para algum ano/tri, pois vai remover o ano/tri inteiro. 
# Não sei se ocorre isso na prática, vamos ver.
resultado_bp.dropna(axis=1, inplace=True)
resultado_bp.to_csv(f"./Resultados/{denom_cia}_BP.csv", decimal=",", encoding= "utf_32") # salva em um csv
resultado_bp.head()

,DS_CONTA,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,1T2020,2T2020,3T2020,2020,1T2021,2T2021,3T2021,2021,1T2022
CD_CONTA,,,,,,,,,,,,,,,,,,,,
1,Ativo Total,3116573.0,3584453.0,3715631.0,4261078.0,4498634.0,5309633.0,5453376.0,5293685.0,5755537.0,6958129.0,7279288.0,7660637.0,7830049.0,8589691.0,9108328.0,10248415.0,12825433.0,12866343.0,15007809.0
1.01,Ativo Circulante,737876.0,987095.0,1074941.0,1453765.0,1613442.0,2176848.0,2332168.0,2250339.0,2582026.0,3090810.0,3274730.0,3542660.0,3641770.0,4201380.0,4700400.0,4723424.0,5245361.0,5109406.0,7202753.0
1.01.01,Caixa e Equivalentes de Caixa,725.0,130463.0,157246.0,392977.0,371962.0,701460.0,1064506.0,611539.0,512308.0,829427.0,736441.0,869482.0,1069831.0,1604053.0,1597610.0,1270308.0,725420.0,139780.0,1117157.0
1.01.02,Aplicações Financeiras,109494.0,0.0,0.0,0.0,0.0,0.0,0.0,137789.0,130428.0,55342.0,37339.0,21706.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0
1.01.03,Contas a Receber,138406.0,104852.0,101879.0,85334.0,143729.0,228024.0,185538.0,351858.0,271926.0,297936.0,426040.0,215345.0,283266.0,346882.0,201012.0,283000.0,305928.0,330508.0,988041.0