In [98]:
import pandas as pd
import datetime
import numpy as np
import os.path
import wget
from zipfile import ZipFile
import shutil
import re

In [2]:
#URL's onde estão os arquivos dfp e itr na CVM
url_base = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/'
url_quantidade = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/FRE/DADOS/'
url_ticker = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/FCA/DADOS/'
url_base_tri = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/'

In [3]:
#pega o caminho do diretorio atual
diretorio = os.getcwd()
diretorio

'F:\\Extrai-dados-CVM'

In [4]:
tipo = "con" #qual base de dados quero usar, "con" para consolidado e "ind" para individual

In [5]:
#Pega data corrente e ano corrente
date = datetime.date.today()
year = date.year
year_0 = 2010 # ano inicial dos dados
year_0_tri = year-2 # ano inicial pros dados trimestrais
year

2022

In [6]:
#Cria uma lista com os nomes dos arquivos da CVM
arquivos_zip = []
for ano in range(year_0,year+1):
    arquivos_zip.append(f'dfp_cia_aberta_{ano}.zip')
arquivos_zip

['dfp_cia_aberta_2010.zip',
 'dfp_cia_aberta_2011.zip',
 'dfp_cia_aberta_2012.zip',
 'dfp_cia_aberta_2013.zip',
 'dfp_cia_aberta_2014.zip',
 'dfp_cia_aberta_2015.zip',
 'dfp_cia_aberta_2016.zip',
 'dfp_cia_aberta_2017.zip',
 'dfp_cia_aberta_2018.zip',
 'dfp_cia_aberta_2019.zip',
 'dfp_cia_aberta_2020.zip',
 'dfp_cia_aberta_2021.zip',
 'dfp_cia_aberta_2022.zip']

In [7]:
#baixa o arquivos se não estiver presente
for arq in arquivos_zip:
    if (os.path.isfile(f'{diretorio}/Data/{arq}')):
        print('%s esta aqui' % arq)
    else:
        try:
            wget.download(url_base+arq, out=f"./Data/{arq}")
        except:
            print(f"falha ao baixar {arq}")
            pass

dfp_cia_aberta_2010.zip esta aqui
dfp_cia_aberta_2011.zip esta aqui
dfp_cia_aberta_2012.zip esta aqui
dfp_cia_aberta_2013.zip esta aqui
dfp_cia_aberta_2014.zip esta aqui
dfp_cia_aberta_2015.zip esta aqui
dfp_cia_aberta_2016.zip esta aqui
dfp_cia_aberta_2017.zip esta aqui
dfp_cia_aberta_2018.zip esta aqui
dfp_cia_aberta_2019.zip esta aqui
dfp_cia_aberta_2020.zip esta aqui
dfp_cia_aberta_2021.zip esta aqui
dfp_cia_aberta_2022.zip esta aqui

In [8]:
#extrai tudo
for arq in arquivos_zip:
    try:
        ZipFile(f"./Data/{arq}", 'r').extractall('./Data/temp')
        print(f"{arq} extraido")
    except:
        pass

dfp_cia_aberta_2010.zip extraido
dfp_cia_aberta_2011.zip extraido
dfp_cia_aberta_2012.zip extraido
dfp_cia_aberta_2013.zip extraido
dfp_cia_aberta_2014.zip extraido
dfp_cia_aberta_2015.zip extraido
dfp_cia_aberta_2016.zip extraido
dfp_cia_aberta_2017.zip extraido
dfp_cia_aberta_2018.zip extraido
dfp_cia_aberta_2019.zip extraido
dfp_cia_aberta_2020.zip extraido
dfp_cia_aberta_2021.zip extraido
dfp_cia_aberta_2022.zip extraido

In [9]:
# junta todos os anos de dados anuais em um arquivo só de cada tipo
nomes = ['BPA_con', 'BPA_ind', 'BPP_con', 'BPP_ind', 'DRE_con', 'DRE_ind', 
         'DFC_MD_con', 'DFC_MI_con', 'DFC_MD_ind', 'DFC_MI_ind']
for nome in nomes:
    arquivo_bp = pd.DataFrame()
    for ano in range(year_0,year):
        try:
            arquivo_bp = pd.concat([arquivo_bp, pd.read_csv(f'{diretorio}/Data/temp/dfp_cia_aberta_{nome}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
        except:
            print(f"falha em {nome}")
            pass
    arquivo_bp.to_csv(f'{diretorio}/Data/processados/dfp_cia_aberta_{nome}_{year_0}-{year}.csv', index=False)
    print(f'DFP {nome} processado')

DFP BPA_con processado
DFP BPA_ind processado
DFP BPP_con processado
DFP BPP_ind processado
DFP DRE_con processado
DFP DRE_ind processado
DFP DFC_MD_con processado
DFP DFC_MI_con processado
DFP DFC_MD_ind processado
DFP DFC_MI_ind processado

In [10]:
#Cria lista de arquivos ITR (trimestrais) pra baixar
arquivos_zip = []
for ano in range(year_0_tri, year+1):
    arquivos_zip.append(f'itr_cia_aberta_{ano}.zip')
arquivos_zip

['itr_cia_aberta_2020.zip',
 'itr_cia_aberta_2021.zip',
 'itr_cia_aberta_2022.zip']

In [11]:
#baixa os arquivos ITR (dados trimestrais)
for arq in arquivos_zip:
    if (os.path.isfile(f'{diretorio}/Data/{arq}')):
        print('%s esta aqui' % arq)
    else:
        try:
            wget.download(url_base_tri+arq, out=f"./Data/{arq}")
        except:
            print(f"falha ao baixar {arq}")
            pass

itr_cia_aberta_2020.zip esta aqui
itr_cia_aberta_2021.zip esta aqui
itr_cia_aberta_2022.zip esta aqui

In [12]:
#extrai tudo
for arq in arquivos_zip:
    try:
        ZipFile(f"./Data/{arq}", 'r').extractall('./Data/temp')
        print(f"{arq} extraido")
    except:
        print(f"{arq} não encontrado")
        pass

itr_cia_aberta_2020.zip extraido
itr_cia_aberta_2021.zip extraido
itr_cia_aberta_2022.zip extraido

In [13]:
# junta todos os anos de dados trimestrais em um arquivo só de cada tipo
nomes_tri = ['BPA_con', 'BPA_ind', 'BPP_con', 'BPP_ind','DRE_con', 'DRE_ind', 
             "DFC_MD_con", "DFC_MI_con", "DFC_MD_ind", "DFC_MI_ind"]
for nome in nomes_tri:
    arquivo_bp = pd.DataFrame()
    for ano in range(year_0_tri,year):
        try:
            arquivo_bp = pd.concat([arquivo_bp, pd.read_csv(f'{diretorio}/Data/temp/itr_cia_aberta_{nome}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
        except:
            print(f"falha em itr_cia_aberta_{nome}_{ano}")
            pass
    arquivo_bp.to_csv(f'{diretorio}/Data/processados/itr_cia_aberta_{nome}_{year_0_tri}-{year}.csv', index=False)
    print(f'ITR {nome} processado')

ITR BPA_con processado
ITR BPA_ind processado
ITR BPP_con processado
ITR BPP_ind processado
ITR DRE_con processado
ITR DRE_ind processado
ITR DFC_MD_con processado
ITR DFC_MI_con processado
ITR DFC_MD_ind processado
ITR DFC_MI_ind processado

In [14]:
#deleta pasta temporaria
shutil.rmtree(f'{diretorio}/Data/temp')

In [16]:
#cria lista de empresas
lista_empresas = pd.read_csv(f"./Data/processados/dfp_cia_aberta_BPA_{tipo}_2010-2022.csv", header=0, sep=",")[["DENOM_CIA", 'CD_CVM']].drop_duplicates(ignore_index=True)
lista_empresas.head()

                              DENOM_CIA  CD_CVM
0                       BCO BRASIL S.A.    1023
1              BRB BCO DE BRASILIA S.A.   14206
2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437
3            CIA ENERGETICA DE BRASILIA   14451
4                        VBC ENERGIA SA   14540

In [17]:
#busca codigo CVM da empresa desejada
#busca = input("Entre com o nome da empresa: ")
busca = "sinqia"
empresa = lista_empresas[lista_empresas['DENOM_CIA'].str.contains(busca, case=False)]
empresa

       DENOM_CIA  CD_CVM
460  SINQIA S.A.   22799

In [18]:
denom_cia = empresa.iloc[0,0]
denom_cia

'SINQIA S.A.'

In [155]:
# junta os dados anuais com trimestrais
dre = pd.concat([pd.read_csv(f'./Data/processados/dfp_cia_aberta_DRE_{tipo}_{year_0}-{year}.csv'),
                 pd.read_csv(f'./Data/processados/itr_cia_aberta_DRE_{tipo}_{year_0_tri}-{year}.csv')],
               ignore_index=True).drop_duplicates()
# filtra só para empresa que eu quero e para "último" para não ter dado duplicado
dre = dre[((dre["DENOM_CIA"]==denom_cia) & (dre["ORDEM_EXERC"]=="ÚLTIMO"))].reset_index(drop=True)
dre

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.01,Receita de Venda de Bens e/ou Serviços,142109.0,S
1,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.02,Custo dos Bens e/ou Serviços Vendidos,-89214.0,S
2,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.03,Resultado Bruto,52895.0,S
3,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.04,Despesas/Receitas Operacionais,-44816.0,S
4,04.065.791/0001-99,2018-12-31,3,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2018-01-01,2018-12-31,3.04.01,Despesas com Vendas,0.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,04.065.791/0001-99,2021-12-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2021-10-01,2021-12-31,3.11.01,Atribuído a Sócios da Empresa Controladora,0.0,S
508,04.065.791/0001-99,2021-12-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2021-10-01,2021-12-31,3.11.02,Atribuído a Sócios Não Controladores,-809.0,S
509,04.065.791/0001-99,2021-12-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2021-10-01,2021-12-31,3.99,Lucro por Ação - (Reais / Ação),0.0,N
510,04.065.791/0001-99,2021-12-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2021-10-01,2021-12-31,3.99.01,Lucro Básico por Ação,0.0,N
511,04.065.791/0001-99,2021-12-31,1,SINQIA S.A.,22799,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2021-10-01,2021-12-31,3.99.02,Lucro Diluído por Ação,0.0,N

In [179]:
# cria um dataframe "esqueleto" pra colocar os resultados com base no resultado do ano anterior
resultado_dre = pd.DataFrame
resultado_dre = dre[(dre.DT_FIM_EXERC == f"{year-1}-12-31") & 
                (dre.DT_INI_EXERC == f"{year-1}-01-01") & 
                (dre.CD_CONTA.str.match(r"^(3.[0-1].)$"))][["CD_CONTA", "DS_CONTA"]].set_index("CD_CONTA")
resultado_dre

                                                   DS_CONTA
CD_CONTA
3.01                 Receita de Venda de Bens e/ou Serviços
3.02                  Custo dos Bens e/ou Serviços Vendidos
3.03                                        Resultado Bruto
3.04                         Despesas/Receitas Operacionais
3.05      Resultado Antes do Resultado Financeiro e dos ...
3.06                                   Resultado Financeiro
3.07             Resultado Antes dos Tributos sobre o Lucro
3.08      Imposto de Renda e Contribuição Social sobre o...
3.09            Resultado Líquido das Operações Continuadas
3.10          Resultado Líquido de Operações Descontinuadas
3.11                  Lucro/Prejuízo Consolidado do Período

In [171]:
# poe os resultados no dataframe com base no esqueleto já montado
for ano in range(year_0, year):
    resultado_dre = resultado_dre.join((dre[(dre.DT_FIM_EXERC == f"{ano}-12-31") & 
                                            (dre.DT_INI_EXERC == f"{ano}-01-01") & 
                                            (dre.CD_CONTA.str.match(r"^(3...)$"))][["CD_CONTA", "VL_CONTA"]].set_index("CD_CONTA").rename(columns={"VL_CONTA": ano})))
resultado_dre

,DS_CONTA,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
CD_CONTA,,,,,,,,,,,,,
3.01,Receita de Venda de Bens e/ou Serviços,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142109.0,175153.0,209993.0,352596.0
3.02,Custo dos Bens e/ou Serviços Vendidos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-89214.0,-117288.0,-138430.0,-217831.0
3.03,Resultado Bruto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52895.0,57865.0,71563.0,134765.0
3.04,Despesas/Receitas Operacionais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-44816.0,-60122.0,-64607.0,-112443.0
3.05,Resultado Antes do Resultado Financeiro e dos ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8079.0,-2257.0,6956.0,22322.0
3.06,Resultado Financeiro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3033.0,-5435.0,-156.0,2653.0
3.07,Resultado Antes dos Tributos sobre o Lucro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5046.0,-7692.0,6800.0,24975.0
3.08,Imposto de Renda e Contribuição Social sobre o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2310.0,3131.0,-1844.0,-2446.0
3.09,Resultado Líquido das Operações Continuadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2736.0,-4561.0,4956.0,22529.0
3.10,Resultado Líquido de Operações Descontinuadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.0,-18.0,0.0,0.0
3.11,Lucro/Prejuízo Consolidado do Período,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2726.0,-4579.0,4956.0,22529.0

In [184]:
# tentando adicionar trimestres
for ano in range(year_0, year):
    for tri_ini, tri_fim in zip(["01", "04", "07", "10"], ["03", "06", "09", "12"]):
        resultado_dre.join((dre[(dre.DT_FIM_EXERC.str.contains(f"{ano}-{tri_fim}-3")) & 
                                (dre.DT_INI_EXERC == (f"{ano}-{tri_ini}-01")) & 
                                (dre.CD_CONTA.str.match(r"^(3...)$"))][["CD_CONTA", "VL_CONTA"]].set_index("CD_CONTA").rename(columns={"VL_CONTA": f"{tri_ini}-{tri_fim}-{ano}"})))
resultado_dre

                                                   DS_CONTA
CD_CONTA
3.01                 Receita de Venda de Bens e/ou Serviços
3.02                  Custo dos Bens e/ou Serviços Vendidos
3.03                                        Resultado Bruto
3.04                         Despesas/Receitas Operacionais
3.05      Resultado Antes do Resultado Financeiro e dos ...
3.06                                   Resultado Financeiro
3.07             Resultado Antes dos Tributos sobre o Lucro
3.08      Imposto de Renda e Contribuição Social sobre o...
3.09            Resultado Líquido das Operações Continuadas
3.10          Resultado Líquido de Operações Descontinuadas
3.11                  Lucro/Prejuízo Consolidado do Período

In [185]:
#dre[(dre.DT_FIM_EXERC.str.contains(f"{ano}-09-3"))].to_csv("./Data/teste2.csv")
dre[(dre.DT_FIM_EXERC.str.contains(f"{ano}-{tri_fim}-3")) & 
                                (dre.DT_INI_EXERC == (f"{ano}-{tri_ini}-01")) & 
                                (dre.CD_CONTA.str.match(r"^(3...)$"))][["CD_CONTA", "VL_CONTA"]].set_index("CD_CONTA").rename(columns={"VL_CONTA": f"{tri_ini}-{tri_fim}-{ano}"})

          10 - 12 - 2021
CD_CONTA
3.01            104483.0
3.02            -67690.0
3.03             36793.0
3.04            -30866.0
3.05              5927.0
3.06              8213.0
3.07             14140.0
3.08             -1709.0
3.09             12431.0
3.10                 0.0
3.11             12431.0
3.99                 0.0